In [23]:
import pandas as pd
data = [1500, 1250, 2224, 1302, 4239]
series = pd.Series(data, index=["a", "b", "c", "d", "e"])
series > 2000

a    False
b    False
c     True
d    False
e     True
dtype: bool

In [21]:
import pandas as pd
data = [1500, 1250, 2224, 1302, 4239]
series = pd.Series(data, index=["a", "b", "c", "d", "e"])
series[series>2000]

c    2224
e    4239
dtype: int64

In [28]:
import pandas as pd
data = [1500, 1250, 2224, 1302, 4239]
series = pd.Series(data, index=["a", "b", "c", "d", "e"])
series[series > series.mean()]

c    2224
e    4239
dtype: int64

In [8]:
import pandas as pd
data = [1500, 1250, 2224, 1302, 4239]
series = pd.Series(data, index=["a", "b", "c", "d", "e"])
series[(series > 1400) & (series < 4000)]

a    1500
c    2224
dtype: int64

In [9]:
import pandas as pd  
data = pd.Series([8, 3, 4,9], index=['a', 'b', 'c', 'd'])
data + 10

a    18
b    13
c    14
d    19
dtype: int64

In [10]:
import pandas as pd  
data = pd.Series([8, 3, 4,9], index=['a', 'b', 'c', 'd'])
data - 10

a   -2
b   -7
c   -6
d   -1
dtype: int64

In [38]:
import pandas as pd 
import numpy as np

data = pd.Series([8, 3, 4, np.nan], index=['a', 'b', 'c', 'd']) 
data1 = pd.Series([3, 7, 1, 2], index=['a', 'b', 'c', 'd']) 

total_penjumlahan = data.add(data1, fill_value=0)
total_penjumlahan

a    11.0
b    10.0
c     5.0
d     2.0
dtype: float64

In [18]:
import pandas as pd 
data = pd.Series([8, 3, 4,9], index=['a', 'b', 'c', 'd']) 
data1 = pd.Series([3, 7, 1, 2], index=['a', 'b', 'c', 'd']) 
print(data) 
print(data1)

total_pengurangan = data.subtract(data1, fill_value=0) 
total_pengurangan

a    8
b    3
c    4
d    9
dtype: int64
a    3
b    7
c    1
d    2
dtype: int64

a    5
b   -4
c    3
d    7
dtype: int64

In [43]:
import pandas as pd 
data = pd.Series([8, 3, 4,9], index=['a', 'b', 'c', 'd']) 
data1 = pd.Series([3, 7, 1, 2], index=['a', 'b', 'c', 'd']) 
print(data) 
print(data1)

total_pengurangan = data.subtract(data1, fill_value=0) 
total_pengurangan

a    8
b    3
c    4
d    9
dtype: int64
a    3
b    7
c    1
d    2
dtype: int64

6.0

In [49]:
import pandas as pd 
data = pd.Series([8, 3, 4,9], index=['a', 'b', 'c', 'd']) 
data1 = pd.Series([3, 7, 1, 2], index=['a', 'b', 'c', 'd']) 
print(data) 
print(data1)

total_pengurangan = data.sum() 
total_pengurangan

a    8
b    3
c    4
d    9
dtype: int64
a    3
b    7
c    1
d    2
dtype: int64

24

In [9]:
import pandas as pd 

arr = pd.Series([1,2,3,4])
arr2 = pd.Series([5,6,7,8])

#manual konvenian

mean_arr = arr.mean()

mean_arr2 = arr2.mean()

print(mean_arr2)

kurang_arr = arr.sub(mean_arr)
kurang_arr2 = arr2.sub(mean_arr2)

perkalian = kurang_arr.mul(kurang_arr2)

tambah = perkalian.sum()

tambah_mean = tambah.mean()

size_arr = len(arr) - 1

konvanian = tambah_mean / size_arr


# method konvenian cov()

total_pengurangan = arr.cov(arr2) 
total_pengurangan

6.5

In [89]:
import pandas as pd 
data = pd.Series([8, 3, 4,9], index=['a', 'b', 'c', 'd']) 
before = data.dtypes 
data = data.astype(str) 
after = data.dtypes 
print("Data Types Before: ", before) 
print("Data Types After: ",after)

Data Types Before:  int64
Data Types After:  object

In [92]:
import pandas as pd
data = ['scratch','roblox','unity','web programming','java','python']
series = pd.Series(data)

print(series)

series[3] = "construct"

print(series)

0            scratch
1             roblox
2              unity
3    web programming
4               java
5             python
dtype: object
0      scratch
1       roblox
2        unity
3    construct
4         java
5       python
dtype: object

In [6]:
#assignment

import pandas as pd

data = pd.Series([408,943,902,117,389,435,793,356,651,993,786,157])
bulan = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember']
data.index = bulan

print("sebelum diubah : ")
print(data)
print("\n")

mean = data.mean()
data.loc[data > mean] = mean

print("setelah diubah : ")
print(data)

sebelum diubah :
Januari      408
Februari     943
Maret        902
April        117
Mei          389
Juni         435
Juli         793
Agustus      356
September    651
Oktober      993
November     786
Desember     157
dtype: int64


setelah diubah :
Januari      408.0
Februari     577.5
Maret        577.5
April        117.0
Mei          389.0
Juni         435.0
Juli         577.5
Agustus      356.0
September    577.5
Oktober      577.5
November     577.5
Desember     157.0
dtype: float64

In [1]:
#assignment

import pandas as pd

series = pd.Series([408,943,902,117,389,435,793,356,651,993,786,157], index = ['Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember'])

print("sebelum diubah : ")
print(series)
print("\n")

mean = series.mean()
series.loc[series > mean] = mean

print("setelah diubah : ")
print(series)

sebelum diubah :
Januari      408
Februari     943
Maret        902
April        117
Mei          389
Juni         435
Juli         793
Agustus      356
September    651
Oktober      993
November     786
Desember     157
dtype: int64


577.5
setelah diubah :
Januari      408.0
Februari     577.5
Maret        577.5
April        117.0
Mei          389.0
Juni         435.0
Juli         577.5
Agustus      356.0
September    577.5
Oktober      577.5
November     577.5
Desember     157.0
dtype: float64