Variabel kategorik atau variabel kualitatif contoh : golongan darah, preferensi genre musik, dan warna kesukaan.
variabel kuantitatif yang menggunakan nilai numerik contoh : usia, pendapatan, dan jumlah anak dalam sebuah keluarga.

variabel kategorik nominal : berisikan data yang hanya berupa nama label saja
variabel kategorik ordinal : berisikan data yang dapat diurutkan

In [31]:
import pandas as pd

url = 'C:/Users/suniantara/Desktop/bootcamp/data/Data-Penindakan-Pelanggaran-Lalu-Lintas.csv'
data = pd.read_csv(url)
data

,bulan,wilayah,bap_tilang,stop_operasi,bap_polisi,stop_operasi_polisi,penderekan,ocp_roda_dua,ocp_roda_empat,angkut_motor
0,Januari,Bidang Dalops,44,139,0,0,73,0,0,0
1,Januari,Sudinhub Jakarta Pusat,47,2,52,0,184,237,15,97
2,Januari,Sudinhub Jakarta Utara,166,27,0,0,174,0,0,0
3,Januari,Sudinhub Jakarta Selatan,44,1,0,0,61,42,75,0
4,Januari,Sudinhub Jakarta Barat,184,70,0,0,202,10,5,0
5,Januari,Sudinhub Jakarta Timur,191,141,0,0,137,0,0,0
6,Februari,Bidang Dalops,37,143,0,0,95,2,1,0
7,Februari,Sudinhub Jakarta Pusat,48,7,42,0,175,396,21,143
8,Februari,Sudinhub Jakarta Utara,251,27,31,0,255,3,0,0
9,Februari,Sudinhub Jakarta Selatan,129,12,0,0,155,446,110,0
10,Februari,Sudinhub Jakarta Barat,229,60,0,0,245,12,4,0
11,Februari,Sudinhub Jakarta Timur,276,146,0,0,299,0,0,0
12,Maret,Bidang Dalops,90,203,0,0,150,18,2,0
13,Maret,Sudinhub Jakarta Pusat,68,10,0,0,146,216,1,58
14,Maret,Sudinhub Jakarta Utara,323,37,0,0,285,0,0,0
15,Maret,Sudinhub Jakarta Selatan,479,51,0,0,325,221,87,0
16,Maret,Sudinhub Jakarta Barat,270,101,0,0,318,20,11,0
17,Maret,Sudinhub Jakarta Timur,253,129,0,0,291,22,0,0
18,April,Bidang Dalops,78,108,0,0,139,0,2,0
19,April,Sudinhub Jakarta Pusat,93,21,0,0,166,99,5,117
20,April,Sudinhub Jakarta Utara,293,22,12,0,165,0,0,0
21,April,Sudinhub Jakarta Selatan,454,42,0,0,261,423,64,0
22,April,Sudinhub Jakarta Barat,233,97,0,0,252,0,1,0
23,April,Sudinhub Jakarta Timur,274,113,0,0,264,0,0,0
24,Mei,Bidang Dalops,47,88,0,0,57,0,0,0
25,Mei,Sudinhub Jakarta Pusat,30,10,0,0,46,447,72,244
26,Mei,Sudinhub Jakarta Utara,174,10,16,0,149,0,0,0
27,Mei,Sudinhub Jakarta Selatan,203,29,2,0,169,272,28,0
28,Mei,Sudinhub Jakarta Barat,156,82,0,0,107,0,0,0
29,Mei,Sudinhub Jakarta Timur,162,107,0,0,157,0,0,0
30,Juni,Bidang Dalops,113,129,0,0,119,7,2,0
31,Juni,Sudinhub Jakarta Pusat,24,9,0,0,90,806,8,414
32,Juni,Sudinhub Jakarta Utara,365,29,39,0,206,0,0,0
33,Juni,Sudinhub Jakarta Selatan,390,22,16,0,188,277,51,0
34,Juni,Sudinhub Jakarta Barat,176,81,0,0,157,62,6,0
35,Juni,Sudinhub Jakarta Timur,217,116,0,0,203,0,0,0
36,Juli,Bidang Dalops,72,80,0,0,38,0,0,0
37,Juli,Sudinhub Jakarta Pusat,12,6,0,0,11,146,3,0
38,Juli,Sudinhub Jakarta Utara,224,20,24,0,54,0,0,19
39,Juli,Sudinhub Jakarta Selatan,95,2,8,0,25,160,6,0
40,Juli,Sudinhub Jakarta Barat,36,32,0,0,29,0,0,0
41,Juli,Sudinhub Jakarta Timur,104,72,0,0,110,0,0,0

In [33]:
#mean

data['bap_tilang'].mean()

170.33333333333334

In [34]:
#median

data['bap_tilang'].median()

164.0

In [35]:
#modus

data['bap_tilang'].mode()

0    44
1    47
Name: bap_tilang, dtype: int64

In [36]:
#varians

data['bap_tilang'].var()

14520.910569105696

In [37]:
#standar deviasi

data['bap_tilang'].std()

120.50274091947327

In [39]:
#quartil

data['bap_tilang'].quantile([0.01,0.02,0.03])

0.01    16.92
0.02    21.84
0.03    25.38
Name: bap_tilang, dtype: float64

In [40]:
#skewness

data['bap_tilang'].skew()

0.7565211780344202

In [55]:
#counter

from collections import Counter

Counter ({1,2,3,4,5,6,7,8,9})

Counter({1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1})

In [53]:
import numpy as np

nomer = data.select_dtypes(include=np.number)
nomer

,bap_tilang,stop_operasi,bap_polisi,stop_operasi_polisi,penderekan,ocp_roda_dua,ocp_roda_empat,angkut_motor
0,44,139,0,0,73,0,0,0
1,47,2,52,0,184,237,15,97
2,166,27,0,0,174,0,0,0
3,44,1,0,0,61,42,75,0
4,184,70,0,0,202,10,5,0
5,191,141,0,0,137,0,0,0
6,37,143,0,0,95,2,1,0
7,48,7,42,0,175,396,21,143
8,251,27,31,0,255,3,0,0
9,129,12,0,0,155,446,110,0
10,229,60,0,0,245,12,4,0
11,276,146,0,0,299,0,0,0
12,90,203,0,0,150,18,2,0
13,68,10,0,0,146,216,1,58
14,323,37,0,0,285,0,0,0
15,479,51,0,0,325,221,87,0
16,270,101,0,0,318,20,11,0
17,253,129,0,0,291,22,0,0
18,78,108,0,0,139,0,2,0
19,93,21,0,0,166,99,5,117
20,293,22,12,0,165,0,0,0
21,454,42,0,0,261,423,64,0
22,233,97,0,0,252,0,1,0
23,274,113,0,0,264,0,0,0
24,47,88,0,0,57,0,0,0
25,30,10,0,0,46,447,72,244
26,174,10,16,0,149,0,0,0
27,203,29,2,0,169,272,28,0
28,156,82,0,0,107,0,0,0
29,162,107,0,0,157,0,0,0
30,113,129,0,0,119,7,2,0
31,24,9,0,0,90,806,8,414
32,365,29,39,0,206,0,0,0
33,390,22,16,0,188,277,51,0
34,176,81,0,0,157,62,6,0
35,217,116,0,0,203,0,0,0
36,72,80,0,0,38,0,0,0
37,12,6,0,0,11,146,3,0
38,224,20,24,0,54,0,0,19
39,95,2,8,0,25,160,6,0
40,36,32,0,0,29,0,0,0
41,104,72,0,0,110,0,0,0

In [2]:
#assignment

import pandas as pd

url = 'C:/Users/suniantara/Desktop/bootcamp/data/Data-Penindakan-Pelanggaran-Lalu-Lintas.csv'
data = pd.read_csv(url)
data

,bulan,wilayah,bap_tilang,stop_operasi,bap_polisi,stop_operasi_polisi,penderekan,ocp_roda_dua,ocp_roda_empat,angkut_motor
0,Januari,Bidang Dalops,44,139,0,0,73,0,0,0
1,Januari,Sudinhub Jakarta Pusat,47,2,52,0,184,237,15,97
2,Januari,Sudinhub Jakarta Utara,166,27,0,0,174,0,0,0
3,Januari,Sudinhub Jakarta Selatan,44,1,0,0,61,42,75,0
4,Januari,Sudinhub Jakarta Barat,184,70,0,0,202,10,5,0
5,Januari,Sudinhub Jakarta Timur,191,141,0,0,137,0,0,0
6,Februari,Bidang Dalops,37,143,0,0,95,2,1,0
7,Februari,Sudinhub Jakarta Pusat,48,7,42,0,175,396,21,143
8,Februari,Sudinhub Jakarta Utara,251,27,31,0,255,3,0,0
9,Februari,Sudinhub Jakarta Selatan,129,12,0,0,155,446,110,0
10,Februari,Sudinhub Jakarta Barat,229,60,0,0,245,12,4,0
11,Februari,Sudinhub Jakarta Timur,276,146,0,0,299,0,0,0
12,Maret,Bidang Dalops,90,203,0,0,150,18,2,0
13,Maret,Sudinhub Jakarta Pusat,68,10,0,0,146,216,1,58
14,Maret,Sudinhub Jakarta Utara,323,37,0,0,285,0,0,0
15,Maret,Sudinhub Jakarta Selatan,479,51,0,0,325,221,87,0
16,Maret,Sudinhub Jakarta Barat,270,101,0,0,318,20,11,0
17,Maret,Sudinhub Jakarta Timur,253,129,0,0,291,22,0,0
18,April,Bidang Dalops,78,108,0,0,139,0,2,0
19,April,Sudinhub Jakarta Pusat,93,21,0,0,166,99,5,117
20,April,Sudinhub Jakarta Utara,293,22,12,0,165,0,0,0
21,April,Sudinhub Jakarta Selatan,454,42,0,0,261,423,64,0
22,April,Sudinhub Jakarta Barat,233,97,0,0,252,0,1,0
23,April,Sudinhub Jakarta Timur,274,113,0,0,264,0,0,0
24,Mei,Bidang Dalops,47,88,0,0,57,0,0,0
25,Mei,Sudinhub Jakarta Pusat,30,10,0,0,46,447,72,244
26,Mei,Sudinhub Jakarta Utara,174,10,16,0,149,0,0,0
27,Mei,Sudinhub Jakarta Selatan,203,29,2,0,169,272,28,0
28,Mei,Sudinhub Jakarta Barat,156,82,0,0,107,0,0,0
29,Mei,Sudinhub Jakarta Timur,162,107,0,0,157,0,0,0
30,Juni,Bidang Dalops,113,129,0,0,119,7,2,0
31,Juni,Sudinhub Jakarta Pusat,24,9,0,0,90,806,8,414
32,Juni,Sudinhub Jakarta Utara,365,29,39,0,206,0,0,0
33,Juni,Sudinhub Jakarta Selatan,390,22,16,0,188,277,51,0
34,Juni,Sudinhub Jakarta Barat,176,81,0,0,157,62,6,0
35,Juni,Sudinhub Jakarta Timur,217,116,0,0,203,0,0,0
36,Juli,Bidang Dalops,72,80,0,0,38,0,0,0
37,Juli,Sudinhub Jakarta Pusat,12,6,0,0,11,146,3,0
38,Juli,Sudinhub Jakarta Utara,224,20,24,0,54,0,0,19
39,Juli,Sudinhub Jakarta Selatan,95,2,8,0,25,160,6,0
40,Juli,Sudinhub Jakarta Barat,36,32,0,0,29,0,0,0
41,Juli,Sudinhub Jakarta Timur,104,72,0,0,110,0,0,0

In [2]:
print(data.dtypes)

bulan                  object
wilayah                object
bap_tilang              int64
stop_operasi            int64
bap_polisi              int64
stop_operasi_polisi     int64
penderekan              int64
ocp_roda_dua            int64
ocp_roda_empat          int64
angkut_motor            int64
dtype: object

In [6]:
data['bulan'] = pd.Categorical(data['bulan'])
data['wilayah'] = pd.Categorical(data['wilayah'])

In [7]:
print(data.dtypes)

bulan                  category
wilayah                category
bap_tilang                int64
stop_operasi              int64
bap_polisi                int64
stop_operasi_polisi       int64
penderekan                int64
ocp_roda_dua              int64
ocp_roda_empat            int64
angkut_motor              int64
dtype: object

In [8]:
data.select_dtypes(include=['category'])

       bulan                   wilayah
0    Januari             Bidang Dalops
1    Januari    Sudinhub Jakarta Pusat
2    Januari    Sudinhub Jakarta Utara
3    Januari  Sudinhub Jakarta Selatan
4    Januari    Sudinhub Jakarta Barat
5    Januari    Sudinhub Jakarta Timur
6   Februari             Bidang Dalops
7   Februari    Sudinhub Jakarta Pusat
8   Februari    Sudinhub Jakarta Utara
9   Februari  Sudinhub Jakarta Selatan
10  Februari    Sudinhub Jakarta Barat
11  Februari    Sudinhub Jakarta Timur
12     Maret             Bidang Dalops
13     Maret    Sudinhub Jakarta Pusat
14     Maret    Sudinhub Jakarta Utara
15     Maret  Sudinhub Jakarta Selatan
16     Maret    Sudinhub Jakarta Barat
17     Maret    Sudinhub Jakarta Timur
18     April             Bidang Dalops
19     April    Sudinhub Jakarta Pusat
20     April    Sudinhub Jakarta Utara
21     April  Sudinhub Jakarta Selatan
22     April    Sudinhub Jakarta Barat
23     April    Sudinhub Jakarta Timur
24       Mei             Bidang Dalops
25       Mei    Sudinhub Jakarta Pusat
26       Mei    Sudinhub Jakarta Utara
27       Mei  Sudinhub Jakarta Selatan
28       Mei    Sudinhub Jakarta Barat
29       Mei    Sudinhub Jakarta Timur
30      Juni             Bidang Dalops
31      Juni    Sudinhub Jakarta Pusat
32      Juni    Sudinhub Jakarta Utara
33      Juni  Sudinhub Jakarta Selatan
34      Juni    Sudinhub Jakarta Barat
35      Juni    Sudinhub Jakarta Timur
36      Juli             Bidang Dalops
37      Juli    Sudinhub Jakarta Pusat
38      Juli    Sudinhub Jakarta Utara
39      Juli  Sudinhub Jakarta Selatan
40      Juli    Sudinhub Jakarta Barat
41      Juli    Sudinhub Jakarta Timur

In [10]:
hasil = data.select_dtypes(include=['int64'])
hasil

,bap_tilang,stop_operasi,bap_polisi,stop_operasi_polisi,penderekan,ocp_roda_dua,ocp_roda_empat,angkut_motor
0,44,139,0,0,73,0,0,0
1,47,2,52,0,184,237,15,97
2,166,27,0,0,174,0,0,0
3,44,1,0,0,61,42,75,0
4,184,70,0,0,202,10,5,0
5,191,141,0,0,137,0,0,0
6,37,143,0,0,95,2,1,0
7,48,7,42,0,175,396,21,143
8,251,27,31,0,255,3,0,0
9,129,12,0,0,155,446,110,0
10,229,60,0,0,245,12,4,0
11,276,146,0,0,299,0,0,0
12,90,203,0,0,150,18,2,0
13,68,10,0,0,146,216,1,58
14,323,37,0,0,285,0,0,0
15,479,51,0,0,325,221,87,0
16,270,101,0,0,318,20,11,0
17,253,129,0,0,291,22,0,0
18,78,108,0,0,139,0,2,0
19,93,21,0,0,166,99,5,117
20,293,22,12,0,165,0,0,0
21,454,42,0,0,261,423,64,0
22,233,97,0,0,252,0,1,0
23,274,113,0,0,264,0,0,0
24,47,88,0,0,57,0,0,0
25,30,10,0,0,46,447,72,244
26,174,10,16,0,149,0,0,0
27,203,29,2,0,169,272,28,0
28,156,82,0,0,107,0,0,0
29,162,107,0,0,157,0,0,0
30,113,129,0,0,119,7,2,0
31,24,9,0,0,90,806,8,414
32,365,29,39,0,206,0,0,0
33,390,22,16,0,188,277,51,0
34,176,81,0,0,157,62,6,0
35,217,116,0,0,203,0,0,0
36,72,80,0,0,38,0,0,0
37,12,6,0,0,11,146,3,0
38,224,20,24,0,54,0,0,19
39,95,2,8,0,25,160,6,0
40,36,32,0,0,29,0,0,0
41,104,72,0,0,110,0,0,0

In [14]:
coba = hasil['bap_tilang'].sum()
hitungan = coba * 0.25
hitungan

1788.5

In [49]:
hasil.mean()

bap_tilang             170.333333
stop_operasi            62.690476
bap_polisi               5.761905
stop_operasi_polisi      0.000000
penderekan             160.285714
ocp_roda_dua           103.428571
ocp_roda_empat          13.809524
angkut_motor            26.000000
dtype: float64

In [50]:
hasil.median()

bap_tilang             164.0
stop_operasi            46.5
bap_polisi               0.0
stop_operasi_polisi      0.0
penderekan             157.0
ocp_roda_dua             5.0
ocp_roda_empat           1.0
angkut_motor             0.0
dtype: float64

In [11]:
hasil.quantile([0.25,0.5,0.75])

,bap_tilang,stop_operasi,bap_polisi,stop_operasi_polisi,penderekan,ocp_roda_dua,ocp_roda_empat,angkut_motor
0.25,69.0,20.25,0.0,0.0,98.00,0.0,0.0,0.0
0.50,164.0,46.50,0.0,0.0,157.00,5.0,1.0,0.0
0.75,246.5,105.50,0.0,0.0,205.25,156.5,7.5,0.0

In [51]:
hasil.std()

bap_tilang             120.502741
stop_operasi            52.447645
bap_polisi              12.930979
stop_operasi_polisi      0.000000
penderekan              85.526001
ocp_roda_dua           178.136032
ocp_roda_empat          27.480581
angkut_motor            78.057515
dtype: float64

In [54]:
data['bap_tilang'].mean()

170.33333333333334